<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.mapper.BlogMapper">

    <select id="getBlogByIdAndUser" resultType="com.example.web.pojo.Blog">
        select * from tb_Blog where User_id = #{userId} and blog_id = #{blogId} limit 1
    </select>

    <select id="getBlogByUserId" resultType="com.example.web.pojo.Blog">
        select * from tb_Blog where User_id = #{userId}
    </select>
    <insert id="InsertBlog" >
        insert into tb_Blog (title,content,create_Time,user_id)
values (#{blogTitle},#{blogContent},#{createTime},#{userId})
    </insert>

    <select id="getBlogByBlogId" resultType="com.example.web.pojo.Blog">
        select * from tb_Blog where blog_id = #{blogId}
    </select>
<!--    <insert id="InsertBlog">-->
<!--        insert into tb_blog values(4,"这是第一篇博客",'你好傻屌',1,1,'2019-08-14 06:40:33')-->
<!--    </insert>-->
<!--    <delete id="InsertBlog">-->
<!--        delete from tb_blog where id = 4-->
<!--    </delete>-->

    <select id="getAllBlog" resultType="com.example.web.pojo.Blog">
        select * from tb_blog
    </select>
</mapper>