<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.mapper.ReplyMapper">

    <select id="getReplyByBlogId" resultType="com.example.web.pojo.Reply">
        select * from tb_reply where blog_id = #{blogId}
    </select>


</mapper>