<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">	
	<title>Subscribe</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icon font -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
	<div id="head" class="parallax" parallax-speed="1">
		<h1 id="logo" class="text-center">
<!--			<img class="img-circle" src="assets/images/guy.jpg" alt="">-->
			<img class="img-circle" th:src = "'/getImgById?id='+${author.getUserId()}" alt="">
			<span class="title"  th:text="${author.getUsername()}+'\'s Blog' ">Anthony Russel's Blog</span>
			<span class="tagline"  th:text="${author.getIntroduction()}">ire </span>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			
			<div class="navbar-collapse collapse">
				
				<ul class="nav navbar-nav">
					<li><a href="index">Home</a></li>
					<li th:if="${author.getUserId()} eq ${visitor.getUserId()} "><a href="write">write a blog</a></li>
					<li class="dropdown"></li>
					<li><a th:href="'blog?authorId='+${author.getUserId()}" th:text="${author.getUsername()}+'\'s Blog'">Blog</a></li>
					<li ><a th:text="'当前已登录: '+${visitor.getUsername()}"></a></li>
				</ul>
			
			</div><!--/.nav-collapse -->			
		</div>	
	</nav>
</header>

<main id="main">

	<div class="container">


		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<div id="comments">	
					<h3 class="comments-title" th:text="${replyListSize}+' Comments'">3 Comments</h3>
					<a href="#commentform" class="leave-comment">Leave a Comment</a>

					<ol class="comments-list">
						<li class="comment" th:each="reply,replyStat:${replyList}">
							<div>
<!--								<div th:each="reply,replyStat:${replyList}">-->
								<img th:src = "'/getImgById?id='+${reply.user.userId}" alt="Avatar" class="avatar">
								<div class="comment-meta">
<!--									<span th:text="${reply.user.username}"/>-->
									<span class="author"><a th:href="@{other(authorId=${reply.user.userId})}" th:text="${reply.user.username}"/></span>
									<span th:text="'  回复于'+${reply.replyTime}"/>
								</div>
								<div class="comment-body">
									<span th:text="${reply.content}"/>
								</div>
							</div>
						</li>
					</ol>

					<div id="respond">
						<h3 id="reply-title">Leave a Reply</h3>
						<form th:action="'/writereply?blogId='+${blog.blogId}" method="post" id="commentform" class="">
							<div class="form-group">
								<label for="inputComment">Comment</label>
								<textarea class="form-control" rows="6" name="content"></textarea>
							</div>
							<div class="row">
								<div class="col-md-4 text-right">
  									<button type="submit" class="btn btn-action">Submit</button>
								</div>
							</div>
						</form>
					</div> <!-- /respond -->
				</div>
			</div>
		</div> <!-- /row comments -->
		<div class="clearfix"></div>

	</div>	<!-- /container -->

</main>


<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+18860956209<br>
						<a href="mailto:#">mf21230116@smail.nju.edu.cn</a><br>
						<br>
						南京大学仙林校区
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+18860956209<br>
						<a href="mailto:#">mf21230116@smail.nju.edu.cn</a><br>
						<br>
						南京大学仙林校区
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p> 南京大学仙林校区 </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2022, Lingfei Wang<br>
						<!--                        <a target="_blank" href="http://www.mobanwang.com" title="网页模板">网页模板</a> </p>-->
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="assets/js/template.js"></script>
</body>
</html>
